<section class="contact-section py-5">
  <div class="container">
    <div class="mb-4">
      <h3 class="display-4">Politique de Retour et d'Échange</h3>
      <ol>
        <li>Le droit à l'échange et au retour est garanti pour tous nos clients et s'applique à tous les produits proposés dans notre magasin.</li>
        <li>Tous les produits affichés dans notre magasin sont soumis à la politique de retour et d'échange selon les conditions spécifiées sur cette page.</li>
        <li>Le retour ou l'échange est possible si le produit est dans son état d'origine lors de l'achat et encore emballé dans son emballage d'origine.</li>
        <li>Les retours doivent être effectués dans un délai de trois (3) jours et les échanges dans un délai de sept (7) jours à compter de la date d'achat.</li>
        <li>Veuillez nous contacter via la page "Contactez-nous" ou nos numéros de téléphone pour demander un retour ou un échange.</li>
        <li>Veuillez photographier le produit et l'envoyer en précisant la ville, l'adresse et le numéro de commande pour qu'il soit échangé contre un autre produit si le produit est défectueux, présente un défaut spécifique ou ne correspond pas à ce qui était convenu.</li>
        <li>Le montant sera remboursé intégralement au client si le produit reçu est complètement différent de la description du produit sur notre site.</li>
        <li>Nous ne sommes pas responsables des attentes concernant l'utilisation des produits par le client qui ne sont pas mentionnées sur la page produit de notre site.</li>
        <li>Nous ne sommes pas responsables des attentes concernant l'utilisation des produits par le client qui ne sont pas mentionnées sur la page produit de notre site.</li>
        <li>Une réduction de 30 % ou d'un montant minimal de 25 dirhams sera appliquée si le client ne souhaite pas le produit et qu'il n'y a pas de défaut ni de problème à signaler.</li>
      </ol>
    </div>
  </div>
</section>
