<!-- Section de contact -->
<section class="contact-section py-5">
  <div class="container">
    <div class="text-center mb-4">
      <h3 class="display-4">Pour plus d'informations</h3>
      <p class="lead">N'hésitez pas à nous contacter</p>
    </div>
    <div class="row">
      <!-- Contact WhatsApp -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-header bg-success text-white d-flex align-items-center">
            <i class="fab fa-whatsapp contact-icon"></i>
            <h5 class="card-title mb-0 ms-2">WhatsApp</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Contactez-nous via WhatsApp</p>
            <a mat-button href="https://wa.me/212670796633" target="_blank" class="btn btn-success">Contacter via WhatsApp</a>
          </div>
        </div>
      </div>
      <!-- Contact Instagram -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-header bg-dark text-white d-flex align-items-center">
            <i class="fab fa-instagram contact-icon"></i>
            <h5 class="card-title mb-0 ms-2">Instagram</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Contactez-nous via Instagram</p>
            <a mat-button href="https://www.instagram.com/Alideco.maroc/" target="_blank" class="btn btn-dark">Page Instagram</a>
          </div>
        </div>
      </div>
      <!-- Contact Facebook -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-header bg-primary text-white d-flex align-items-center">
            <i class="fab fa-facebook-f contact-icon"></i>
            <h5 class="card-title mb-0 ms-2">Facebook</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Contactez-nous via Facebook</p>
            <a mat-button href="https://www.facebook.com/Alideco" target="_blank" class="btn btn-primary">Page Facebook</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
