<div class="products m-3">
  <h4 class="text-center mt-3">Touts les Collection</h4>
  <p class="text-center">Trouvez tout ce que vous voulez</p>
  <div class="category-grid justify-content-center">
    <mat-card *ngFor="let category of categories" class="category-card">
      <mat-card-header class="justify-content-center">
        <mat-card-title class="mb-2 text-md">{{ category.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="category.products[0].image_url" alt="{{ category.name }}" class="h-75">
      <mat-card-content>
        <p class="mt-3 text-center">{{ category.description }}</p>
      </mat-card-content>
      <mat-card-actions class="justify-content-center">
        <button mat-button (click)="exploreCategoryProduct(category)">Explore Products</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

