<h3 mat-dialog-title class="text-center">{{ data.id ? 'Edit Category' : 'Add Category' }}</h3>
<form (ngSubmit)="onSubmit()" #productForm="ngForm">
  <mat-dialog-content>
    <div class="ml-2">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name" name="code" required>
      </mat-form-field>
    </div>

    <div class="ml-2">
      <mat-form-field appearance="outline" >
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="data.description" name="description" maxlength="500" required></textarea>
      </mat-form-field>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.form.valid">Save</button>
  </mat-dialog-actions>
</form>
