.btn {
  margin-top: 10px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
